@import '../../../../shared-web-ui/styles/shared.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Must come AFTER Tailwind to override preflight */
*,
*::before,
*::after {
  user-select: none !important;
  -webkit-user-select: none !important;
}
